.header-container {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  margin-left: 70px;

  &__title {
    font-size: 22px;
    font-weight: 600;
  }

  &__userdetails {
    display: flex;
    gap: 24px;

    &--notifications {
      width: 28x;
      cursor: pointer;

      &:hover {
        filter: brightness(0%);
        transition: filter 0.5s ease;
      }
    }

    &--profile {
      width: 30px;
      cursor: pointer;

      &:hover {
        filter: brightness(0%);
        transition: filter 0.5s ease;
      }
    }
  }
}
