$primary-color: #18988B;
$contrast-color: #FFFFFF;

$app-background-color: #E5E5E5;
$active-item-color: #F3F4F8;
$notselected-color: #8B909A;

$text-primary-color: #23272E;
$text-secundary-color: #8B909A;
