$app-background-color: #FAFAFA;
$input-background-color: #F9F9F9;

$primary-color: #18988B;
$contrast-color: #FFFFFF;
$error-color: #e04040;

$text-primary-color: #23272E;
$text-secundary-color: #8B909A;

$active-item-color: #F3F4F8;
$notselected-color: #8B909A;
$line-table-color: #E9E7FD;
