@import './colors';

.search-input {
  width: 35vw;
  max-width: 352px;
  height: 40px;
  margin-right: 10px;
  margin-left: 70px;
  font-size: 15px;
  color: $text-primary-color;
  background-color: $contrast-color;
  padding-left: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 0;
  transition: filter 0.3s ease;
  background: url('../icons/magnifier.svg') no-repeat right 10px center;
  background-size: 20px 20px;
  padding-right: 40px;
  transition: background-color 0.3s ease;

  @media (max-width: 450px) {
    width: 20vw;
  }

  @media (max-width: 700px) {
    margin-inline: 20px;
  }

  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
