@import './colors';

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $contrast-color;
  border-radius: 16px;
  padding-block: 16px;
  margin-inline: 70px;
  margin-bottom: 20px;
  font-size: 16px;
  width: calc(100% - 70px);
  overflow-x: auto;

  @media (max-width: 700px) {
    margin-inline: 20px;
    width: calc(100% - 20px);
  }

  .hideColumn {
    display: none;

    @media (min-width: 700px) {
      display: block;
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 16px;

    &--head {
      color: $text-secundary-color;
      font-weight: 500;
    }

    .sortable {
      cursor: pointer;

      &:hover {
        filter: brightness(70%);
        transition: filter 0.3s ease;
      }
    }

    th,
    td {
      text-align: start;
      padding-left: 36px;
      padding-right: 26px;
      padding-block: 16px;
      border-bottom: 1px solid $line-table-color;
      word-break: break-all;

      @media (max-width: 700px) {
        padding-inline: 10px;
      }
    }

    .actions {
      white-space: nowrap;

      img {
        margin-inline: 5px;
        cursor: pointer;

        &:hover {
          filter: brightness(50%);
          transition: filter 0.5s ease;
        }
      }
    }
  }

  &__empty-table {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: $text-secundary-color;

    &--image {
      width: 60px;
      border: 6px solid $text-secundary-color;
      border-radius: 100%;
      padding: 10px;
      margin: 10px;
    }

    &--title {
      font-size: 24px;
      font-weight: 500;
      margin: 5px;
    }

    &--info {
      font-size: 20px;
      margin: 5px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--pageSizeControl {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-left: 16px;
      font-size: 15px;
      font-weight: 500;
      color: $text-secundary-color;

      select {
        width: 80px;
        height: 38px;
        border: 1px solid $line-table-color;
        border-radius: 6px;
        text-align: center;
        font-weight: 600;
      }
    }

    &--pageControl {
      display: flex;
      gap: 2px;
      margin-right: 24px;

      button {
        border: 0;
        border-radius: 4px;
        width: 28px;
        height: 28px;
        color: $text-secundary-color;

        &:hover {
          &:enabled {
            cursor: pointer;
            filter: brightness(93%);
            transition: filter 0.5s ease;
          }
        }
      }

      button.active {
        cursor: default !important;
        font-weight: bold;
        background-color: $primary-color;
        color: $contrast-color;
        filter: brightness(100%) !important;
      }
    }
  }
}
