<form class="manufacturer-form-container" [formGroup]="manufacturerForm" (ngSubmit)="onSubmit()"
  [formGroup]="manufacturerForm">

  <section class="form-group">
    <div class="input-group">
      <input id="cnpj" formControlName="cnpj" type="text" mask="00.000.000/0000-00" [readOnly]="action !== 'create'"/>
      <label [ngClass]="{'active': manufacturerForm.get('cnpj')?.value}">CNPJ *</label>
      <span class="underline"></span>
      <span class="error-container" *ngIf="manufacturerForm.get('cnpj')!.invalid">
        <p
          *ngIf="manufacturerForm.get('cnpj')!.value === '' && (manufacturerForm.get('cnpj')!.dirty || manufacturerForm.get('cnpj')!.touched)">
          O CNPJ é obrigatório
        </p>
        <p
          *ngIf="manufacturerForm.get('cnpj')!.value !== '' && (manufacturerForm.get('cnpj')!.dirty || manufacturerForm.get('cnpj')!.touched)">
          CNPJ inválido
        </p>
      </span>
    </div>

    <div class="input-group">
      <input id="nome" formControlName="nome" type="text" maxlength="30" />
      <label [ngClass]="{'active': manufacturerForm.get('nome')?.value}">Nome *</label>
      <span class="underline"></span>
      <span class="error-container" *ngIf="manufacturerForm.get('nome')!.invalid">
        <p
          *ngIf="manufacturerForm.get('nome')!.value === '' && (manufacturerForm.get('nome')!.dirty || manufacturerForm.get('nome')!.touched)">
          O nome é obrigatório
        </p>
      </span>
    </div>

    <div class="input-group">
      <input id="contato" formControlName="contato" type="text" maxlength="30" />
      <label [ngClass]="{'active': manufacturerForm.get('contato')?.value}">E-mail *</label>
      <span class="underline"></span>
      <span class="error-container" *ngIf="manufacturerForm.get('contato')!.invalid">
        <p
          *ngIf="manufacturerForm.get('contato')!.value === '' && (manufacturerForm.get('contato')!.dirty || manufacturerForm.get('contato')!.touched)">
          O e-mail é obrigatório
        </p>
        <p
          *ngIf="manufacturerForm.get('contato')!.value !== '' && (manufacturerForm.get('contato')!.dirty || manufacturerForm.get('contato')!.touched)">
          E-mail inválido
        </p>
      </span>
    </div>

    <div class="input-group">
      <input id="cep" formControlName="cep" type="text" mask="00000-000" />
      <label [ngClass]="{'active': manufacturerForm.get('cep')?.value}">CEP *</label>
      <span class="underline"></span>
      <span class="error-container" *ngIf="manufacturerForm.get('cep')!.invalid">
        <p
          *ngIf="manufacturerForm.get('cep')!.value === '' && (manufacturerForm.get('cep')!.dirty || manufacturerForm.get('cep')!.touched)">
          O CEP é obrigatório
        </p>
        <p
          *ngIf="manufacturerForm.get('cep')!.value !== '' && (manufacturerForm.get('cep')!.dirty || manufacturerForm.get('cep')!.touched)">
          CEP inválido
        </p>
      </span>
    </div>

    <div class="grid-form">

      <div class="input-group">
        <input id="numero" formControlName="numero" type="text" maxlength="5" />
        <label [ngClass]="{'active': manufacturerForm.get('numero')?.value}">Número *</label>
        <span class="underline"></span>
        <span class="error-container" *ngIf="manufacturerForm.get('numero')!.invalid">
          <p
            *ngIf="manufacturerForm.get('numero')!.value === '' && (manufacturerForm.get('numero')!.dirty || manufacturerForm.get('numero')!.touched)">
            O número é obrigatório
          </p>
        </span>
      </div>

      <div class="input-group">
        <input id="complemento" formControlName="complemento" type="text" maxlength="15" />
        <label [ngClass]="{'active': manufacturerForm.get('complemento')?.value}">Complemento</label>
        <span class="underline"></span>
        <span class="error-container" *ngIf="manufacturerForm.get('complemento')!.invalid">
          <p
            *ngIf="manufacturerForm.get('complemento')!.value === '' && (manufacturerForm.get('complemento')!.dirty || manufacturerForm.get('complemento')!.touched)">
            O complemento é obrigatório
          </p>
        </span>
      </div>

      <div class="input-group">
        <input id="logradouro" formControlName="logradouro" type="text" maxlength="50" readonly />
        <label [ngClass]="{'active': manufacturerForm.get('logradouro')?.value}">Logradouro *</label>
        <span class="underline"></span>
        <span class="error-container" *ngIf="manufacturerForm.get('logradouro')!.invalid">
          <p
            *ngIf="manufacturerForm.get('logradouro')!.value === '' && (manufacturerForm.get('logradouro')!.dirty || manufacturerForm.get('logradouro')!.touched)">
            O logradouro é obrigatório
          </p>
        </span>
      </div>

      <div class="input-group">
        <input id="bairro" formControlName="bairro" type="text" readonly />
        <label [ngClass]="{'active': manufacturerForm.get('bairro')?.value}">Bairro</label>
        <span class="underline"></span>
        <span class="error-container" *ngIf="manufacturerForm.get('bairro')!.invalid">
          <p
            *ngIf="manufacturerForm.get('bairro')!.value === '' && (manufacturerForm.get('bairro')!.dirty || manufacturerForm.get('bairro')!.touched)">
            O bairro é obrigatório
          </p>
        </span>
      </div>

      <div class="input-group">
        <input id="cidade" formControlName="cidade" type="text" readonly />
        <label [ngClass]="{'active': manufacturerForm.get('cidade')?.value}">Cidade</label>
        <span class="underline"></span>
        <span class="error-container" *ngIf="manufacturerForm.get('cidade')!.invalid">
          <p
            *ngIf="manufacturerForm.get('cidade')!.value === '' && (manufacturerForm.get('cidade')!.dirty || manufacturerForm.get('cidade')!.touched)">
            A cidade é obrigatória
          </p>
        </span>
      </div>

      <div class="input-group">
        <input id="estado" formControlName="estado" type="text" readonly />
        <label [ngClass]="{'active': manufacturerForm.get('estado')?.value}">Estado</label>
        <span class="underline"></span>
        <span class="error-container" *ngIf="manufacturerForm.get('estado')!.invalid">
          <p
            *ngIf="manufacturerForm.get('estado')!.value === '' && (manufacturerForm.get('estado')!.dirty || manufacturerForm.get('estado')!.touched)">
            O estado é obrigatório
          </p>
        </span>
      </div>
    </div>

    <div class="grid-buttons">
      <button class="cancel-button" [routerLink]="['/manufacturers']">CANCELAR</button>
      <button class="submit-button" type="submit" [disabled]="manufacturerForm.invalid">SALVAR</button>
    </div>
  </section>

</form>
