@import '../../../../../../public/assets/styles/colors';

.manufacturers-container {
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
}
